# Compiled object files
*.o
*.obj

# Compiled static libraries
*.a
*.lib

# Compiled dynamic libs
*.so
*.dll
*.dylib

# Executables
*.exe
*.out
*.app

# (Linux) executables without extension inside bin/ or build/
bin/
build/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# VSCode
.vscode/

# Logs
*.log